*{
    font-family: $body-font;
    color: $neutral;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    background-color: $primary-dark-blue-main;
    position: relative;
    font-size: 14px;
}
button{
    transition: background 0.6s ease-in-out;
}
button:hover{
    cursor: pointer;
    background: rgb(166, 218, 227);
}
